@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oxygen');
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif !important;
}
p, div, a, button {
    font-family: 'Open Sans', sans-serif !important;
}

.topborder{margin-top: 80px;}

.topborder-sm{margin-top: 25px;}

.map {
 margin: auto;
 height: 400px;
 width: 100%;

}

.map-header {
 text-align: center;
 height: 75px;
 width: 100%;

}

.copy-button{
  background-color:#000080;
  color: white;
}

.img-holder img{
  max-width: 80%;
  max-height: 250px;
}

.img-holder-two img{
  max-width: 50%;
  max-height: 100px;
}

.brand{
  margin-top: 5px;
}

.nav-image img{
  max-height: 25px;
}

.featurette-img img{
  max-height:300px;
}

.carousel-heading{
  font-size:48px;
}
